<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Horn thing</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body onload="log_updater();">
    <header class="container">
        <h1>Horn thing</h1>
        <p>Description</p>
    </header>
    <main class="container">
        <h2>Wifi list</h2>
        <div class="overflow-auto">

            <table class="striped">
                <thread>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Password</th>
                        <th scope="col">Action</th>

                    <tr>
                </thread>
                <tbody id="wifi_list">


                    {% for i in wifi_list: %}
                    <tr>
                        <th scope="col">{{ i["name"] }}</th>
                        <th scope="col">{{ i["password"] }}</th>
                        
                        <th scope="col"><button style="height: 50%;" class="contrast" id ="{{ i['name'] }}" onclick="delete_wifi(this.id)" class="remove_contact">Remove</button></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Add new WiFi</h2>
            <form action="/update_form" method="get">
                <div class="grid">
                    <label for="wifiName">
                        Wifi name
                        <input type="text" name="wifiName" aria-label="Wifi name" placeholder="Wifi Name"
                            required>
                    </label>
                    <label for="wifiPassword">
                        Wifi Password
                        <input type="password" name="wifiPassword"
                            required placeholder="Password" aria-label="WiFi Password">
                    </label>
                    <label for="add_contact">
                        </br>
                        <button type="submit">Add Wifi</button>
                    </label>
            </form>
        </div>
        </div>


    </main>
    <main class="container">
        <h2>Contact list</h2>
        <div class="overflow-auto">

            <table class="striped">
                <thread>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Action</th>

                    <tr>
                </thread>
                <tbody id="contact_list">


                    {% for i in contact_list: %}
                    <tr>
                        <th scope="col">{{ i["name"] }}</th>
                        <th scope="col">{{ i["phoneNumber"] }}</th>
                        
                        <th scope="col"><button style="height: 50%;" class="contrast" id ="{{ i['phoneNumber'] }}" onclick="delete_contact(this.id)" class="remove_contact">Remove</button></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Add new contact</h2>
            <form action="/update_form" method="get">
                <div class="grid">
                    <label for="name">
                        Contact Name
                        <input type="text" name="name" aria-label="Contact name" placeholder="Contact Name"
                            required>
                    </label>
                    <label for="phone">
                        Phone number
                        <input type="tel" autocomplete="tel" name="phoneNumber" pattern="+48-[0-9]{3}-[0-9]{3}-[0-9]{3}"
                            required placeholder="+48 123 456 789" aria-label="Phone number">
                    </label>
                    <label for="add_contact">
                        </br>
                        <button type="submit">Add Contact</button>
                    </label>
            </form>
        </div>
        </div>
    </main>

    <main class="container">
        <h2>Message input field</h2>
        <form action="/update_form" method="get">
            <textarea type="text" id="text" name="message" placeholder="My custom message" required>{{message}}</textarea>
            <button type="submit">Save changes</button>
        </form>
    </main>

    <main class="container">
        <div class="grid">
            <h2>Logs</h2>
            <form action="/clear_log" method="get">
                <button type="submit" style="width: 30%;">Clear</button>
            </form>
        </div>
        <div class="overflow-auto" style="max-height: 100;  ">
            <table class="striped" id="logs">
                <thread>
                    <tr>  
                        <th scope="col">#</th>
                        <th scope="col">Log Level</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Info</th>
                    <tr>
                </thread>
                <tbody id  = "tbody" >
                    <!-- <tr>
                        <th scope="col">1</th>
                        <th scope="col">INFO</th>
                        <th scope="col">02.08.2012</th>
                        <th scope="col">12:34:12</th>
                        <th scope="col">Some cool stuff happened</th>
                    <tr> -->
                </tbody>
            </table>


        </div>


    </main>

</body>

</html>